.container {  display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 3px 0px;
    grid-auto-flow: row;
  }
  
  .nav-bar { 
    grid-area: 1 / 1 / 2 / 5; }
  
.fixed-top{
   width: 100%;
  position: relative;
  z-index: 1000; /* Ensure it stays above other content */}

    body {
        font-family: 'Roboto';
    }

    .navbar {
        display: flex;
       ;
        align-items: center;
        justify-content: space-between;
        top: 0px;
        background: rgba(0, 0, 0, 0.6) 
        background-blend-mode: darken;
        background-size: cover;  
        padding: 10px 20px;
        color: #000; ;
        position:relative;
        width: 100%;
        position:fixed; /* Make sure it's fixed */
        z-index: 1000; /* Ensure it stays above other content */
    
    }

    .nav-list {
        display: flex;
        list-style: none;
        color: black;
    }

    .nav-list li {
        margin-right: 20px
        ;
    }

    .nav-list li:last-child {
        margin-right: 0;
    }

    .nav-list li a {
        text-decoration: none;
        color:#000;
        font-size: 18px;
        transition: color 0.3s ease-in-out;
    }

    .nav-list li a:hover {
        color: #ffd700;
        /* Change the color on hover */
    }

    .rightNav {
        text-align: right;
        
    }

    #search {
        padding: 8px;
        font-size: 16px;
        border: 2px solid #fff;
        border-radius: 5px;
    }

    .btn {
        background-color: #ffd700;
        color: #000;
        border: none;
        padding: 8px 12px;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s ease-in-out;
    }

    .btn:hover {
        background-color: #000;
        /* Change the background color on hover */
        color: #ffd700;
    }
  
  .Banners { grid-area: 2 / 1 / 4 / 5; }
  
  .Location-header {
grid-area: 4 / 1 / 5 / 5; 
background-color: aliceblue;
height: 100px;


}
  .Location-header  {
text-align: center;
padding-top:1rem ;

   }
  
  .Location-information { 
    grid-area: 5 / 1 / 8 / 5;
    padding-top: 20px;
    padding-left: 15px;
   
  }

  .Location-information p{ 
    font-size: 24px;
    font-family: 'Roboto';
  }
  
  .location-image col-5{ 
    grid-area: 5 / 3 / 7 / 5;
  }

  .address h6 {
    font-family: 'Playfair Display', serif;
    font-size: 30px;
    padding-left:20px ;
    text-rendering: optimizeLegibility;
    background-color:#E5E4E2	;
    }
.address p { 
    font-size: 24px;
    font-family:'Poppins';
    font-display:initial;
    padding-bottom: 25px;
    padding-top: 20px;
    background-color:white	;
}

  .Footer { grid-area: 8 / 1 / 10 / 5; }

.Location-header h1 { font-family: 'Playfair Display';
font-size:40px;}
  
.map iframe {
  pointer-events:none;
  -ms-zoom-animation: initial;
}


.map iframe.clicked {
  pointer-events: auto;


}
.map {
  position: relative;
}

.map input[type="checkbox"] {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 
}

.Banners {
  width: 100%; 
  height: 300px; 
  overflow: hidden; 
}

.Banners.banner-image {
  width: 100%; 
  height: 100%;
  object-fit: cover; 
}

.Banners {
  height: 70vh; /* set the banner height to 50% of the viewport height */
}
.social-icons {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
.social-icons a {
  margin: 0 10px;
}
.footer {
  text-align: center;
  padding: 10px;
  border-top: 1px solid #ddd;
  margin-top: 20px;
  
}
.footer a {
  text-decoration: none;
  color: black;
  margin: 0 10px;
  text-align: center;
}
