/* Existing CSS rules */
/* Importing Google font - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

:root {
    --primary-color: rgb(7, 7, 7);
    --secondary-color: aqua;
    --text-color: black;
    --background-color: white;
    --hero-background: url("hero-bg.jpg");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: var(--hero-background);
    background-position: center;
    background-size: cover;
    min-height: 100vh;
    overflow-x: hidden;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

.navbar-brand {
    color: var(--primary-color);
    font-size: 2.1rem;
    font-weight: 600;
}

.navbar-nav .nav-link {
    color: var(--text-color);
    transition: 0.2s ease;
}

.navbar-nav .nav-link:hover {
    color: rgb(51, 82, 82);
}

/* Custom CSS for the Bootstrap Carousel */
.hero-section {
    padding-top: 56px; /* Adjusted to accommodate fixed header */
    margin-top: 10%;
}

.carousel-item img {
    max-width: 100%; /* Ensures images do not exceed the width of their container */
    height: auto; /* Ensures images scale proportionally */
    object-fit: contain; /* Keeps entire image inside the container */
    max-height: 500px; /* Sets a maximum height for the images */
    margin: 0 auto; /* Centers the images */
}

.carousel-caption {
    color: #fff;
    background-color: rgba(45, 33, 33, 0.5);
    padding: 10px;
    border-radius: 5px;
    top: 50%; /* Position from top 50% */
    transform: translateY(-50%); /* Center vertically */
}

.carousel-caption h5 {
    font-size: 1.5rem; /* Smaller font size for the header */
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.carousel-caption p {
    font-size: 1rem; /* Smaller font size for the paragraph */
    font-weight: 300;
    margin-bottom: 10px; /* Adjusted margin for smaller screens */
    line-height: 1.4; /* Improved line height for better readability */
}

.carousel-caption .btn-group .btn {
    font-size: 1rem;
    padding: 10px 20px;
    margin: 5px;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    height: 50px;
    width: 50px;
    background-size: contain; 
}

.carousel-control-prev-icon {
    background-image: url('left-chevron.png');
    width: 70px;
    height: 70px
}

.carousel-control-next-icon {
    /* Assuming left-chevron.png is your image for the next button */
    background-image: url('left-chevron.png');
    /* Rotate the icon 90 degrees clockwise */
    transform: rotate(180deg);
    /* Adjust background position for correct alignment */
    background-position: center;
    /* Set background size if necessary */
    background-size: contain; /* or cover, based on your image */
    /* Specify width and height for the icon */
    width: 70px; /* Adjust as needed */
    height: 70px; /* Adjust as needed */
}

.carousel-indicators li {
    background-color: rgba(255, 255, 255, 0.5);
    border: 1px solid #8e7d7d;
}

.carousel-indicators .active {
    background-color: #988b8b;
}

@media (max-width: 768px) {
    .carousel-caption {
        background: none;
        color: #fff;
        padding: 10px;
        border-radius: 5px;
        top: 50%; /* Position from top 50% */
        transform: translateY(-50%); /* Center vertically */
    }
    .carousel-item img {
        max-width: 100%; /* Ensures images do not exceed the width of their container */
        height: auto; /* Ensures images scale proportionally */
        object-fit: contain; /* Keeps entire image inside the container */
        max-height: 300px; /* Sets a maximum height for the images */
        margin: 0 auto;
    }
    .carousel-caption h5 {
        font-size: 1.1rem; /* Smaller font size for the header */
        font-weight: 700;
        text-transform: uppercase;
        margin-bottom: 10px;
        margin-top: 10px;
        text-align: center;
    }
    .carousel-caption p {
        display: none; /* Hides paragraph on mobile */
    }

    .text-container {
        padding: 10px; /* Reduced padding for smaller screens */
    }

    .text-container h4 {
        margin: 8px 0; /* Adjusted margin for smaller screens */
        font-size: 1.1rem; /* Adjusted font size for smaller screens */
    }

    .text-container p {
        font-size: 0.8rem; /* Adjusted font size for smaller screens */
        margin-bottom: 8px; /* Adjusted margin for smaller screens */
    }
}

/* Styles for the event-section to make it responsive */
.scroll-container {
    display: flex;
    overflow-x: auto;
    padding: 20px;
    white-space: nowrap;
    background-color: #ffffff;
}

.card {
    display: inline-block;
    margin-right: 20px;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(73, 73, 73, 0.2);
    transition: 0.3s;
    width: 300px;
    position: relative; /* Added position relative */
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgb(175, 175, 175);
}

.card img {
    width: 100%;
    height: 300px; /* Set height to match all cards */
    object-fit: cover; /* Ensure the image covers the entire area */
}

.text-container {
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center; /* Center text horizontally */
}

.text-container h4 {
    margin: 10px 0;
    font-size: small;
}

.text-container h5 {
    font-size: small;
    text-align: center; /*Center text horizontally */
}

.text-container p {
    color: #555;
}

.follow-btn {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 0.8rem; /* Adjust button font size */
    padding: 5px 10px; /* Adjust button padding */
}

.section-name {
    font-size: 1.5rem;
    font-weight: 600;
    margin: 20px;
    color: var(--primary-color);
}

/* Media query for smaller screens */
@media (max-width: 768px) {
    .scroll-container {
        display: block; /* Stack cards vertically on smaller screens */
        padding: 10px; /* Adjust the padding for smaller screens */
    }

    .card {
        width: 50%; /* Adjust the width of the card for smaller screens */
        margin: 0 auto 20px; /* Center the card and add margin at the bottom */
    }

    .card img {
        width: 100%;
        height: 300px; /* Set height to match all cards */
        object-fit: cover; /* Ensure the image covers the entire area */
    }

    .text-container {
        padding: 50px; /* Adjust the padding for smaller screens */
    }

    .text-container h4,
    .text-container h5 {
        font-size: 1rem; /* Adjust the font size for smaller screens */
    }

    .text-container p {
        font-size: 0.8rem; /* Adjust the font size for smaller screens */
    }

    .follow-btn {
        font-size: 0.7rem; /* Adjust the button font size for smaller screens */
        padding: 4px 8px; /* Adjust the button padding for smaller screens */
    }

    .section-name {
        font-size: 2.0rem; /* Adjust the font size for the section name */
        margin: 10px; /* Adjust the margin for the section name */
    }
}

.event-section {
    margin-top: 50px;
    margin-bottom: 50px; /* Adjust the margin as per your design */
}

.item-section {
    /* Optional: If you want to add top margin to the item section */
    margin-top: 50px; /* Adjust the margin as per your design */
    margin-bottom: 50px;
}

/* Additional CSS for the Buy Now section */
.buy-now-section {
    background-color: #f4efef; /* Background color */
    padding: 60px 0; /* Padding for top and bottom */
}

.buy-now-content {
    padding: 20px; /* Padding inside the content container */
    text-align: left; /* Align text to the left */
}

.buy-now-heading {
    font-size: 2rem; /* Heading font size */
    color: #333; /* Heading color */
    margin-bottom: 15px; /* Bottom margin for the heading */
}

.buy-now-description {
    font-size: 1rem; /* Description font size */
    color: #666; /* Description color */
    margin-bottom: 20px; /* Bottom margin for the description */
}

.buy-now-action {
    display: flex;
    align-items: center;
}

.buy-now-button {
    background-color: #000; /* Button background color */
    color: #ffffff; /* Button text color */
    padding: 10px 20px; /* Button padding */
    border-radius: 5px; /* Button border radius */
    text-decoration: none; /* Remove underline from link */
    transition: background-color 0.3s; /* Smooth transition for hover effect */

}

.buy-now-button:hover {
    background-color: #555; /* Darker background on hover */
}

.buy-now-image {
    display: flex;
    justify-content: center; /* Center the image horizontally */
    align-items: center; /* Center the image vertically */
    padding: 20px; /* Padding around the image */
}

.buy-now-image img {
    width: 80%; /* Ensures images do not exceed the width of their container */
    height: auto; /* Ensures images scale proportionally */
    object-fit: contain; /* Keeps entire image inside the container */
    max-height: 500px; /* Sets a maximum height for the images */
    margin: 0 auto; /* Centers the images */
}

@media (max-width: 768px) {
    .buy-now-content {
        text-align: center; /* Center text on small screens */
    }

    .buy-now-image {
        padding: 0; /* Remove padding on small screens */
    }

    .buy-now-image img {
        width: 100%; /* Make image full width on small screens */
        border-radius: 0; /* Remove rounded corners on small screens */
    }
}

.heading-item {
    padding: 20px;
}
.heading-item h1 {
    margin: 0;
}
.heading-item a {
    text-decoration: none;
    color:black
}
.social-icons {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
.social-icons a {
    margin: 0 10px;
}
.footer {
    text-align: center;
    padding: 10px;
    border-top: 1px solid #ddd;
    margin-top: 20px;
}
.footer a {
    text-decoration: none;
    color: black;
    margin: 0 10px;
}

.signup-bar {
    border-spacing: 70px;
}


