.column{ 
    padding-left: 2em;
    padding-right: 2em;
    padding-top: 4em;
    padding-bottom: 1em;
    text-align: center;


} 

.Gallery-header h1{ 
    font-size:48px;
    text-align: center;
    
    color: black;
    font-family: "Playfair Display";
    
    

}
.social-icons {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
.social-icons a {
  margin: 0 10px;
}
.footer {
  text-align: center;
  padding: 10px;
  border-top: 1px solid #ddd;
  margin-top: 20px;
  background-color:beige;
}
.footer a {
  text-decoration: none;
  color: rgb(7, 7, 7);
  margin: 0 10px;
 
}
.Footer a {
  text-decoration: none;
  margin-left: 50px;
  color: black;
  font-size: 20px;
  font-family: Poppins;
}
.heading-row a{ color:black;
font-size: 18px;}
p { 
    font-size:23px;
    font-family:' Poppins';

margin-left: 6.6rem;
}

.heading-row p {margin-left: unset;}

.banner img {
    width: 100%;
    height:auto;
  }

  @media (min-width: 1024px) {
    .banner img {
      height: 900px; /* Adjust this value as needed */
      object-fit: cover; /* Ensures the image covers the defined height */
    }
  }